body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    background-color: #1e1e1e;
    color: white;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav ul li {
    margin-right: 20px;
  }
  
  .nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  .cta .btn-primary {
    background-color: #0db5d9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta .btn-primary:hover {
    background-color: #097b94;
  }
  
 
  .hero {
    height: 50vh;
    background: linear-gradient(to bottom, #1e1e1e 5%, #1e1e1e 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
 
    .btn-primary {
        background-color: #0db5d9;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .btn-primary:hover {
        background-color: #0a94b1;
      }
      
  .about {
    padding: 50px 0;
    background-color: #f5f5f5;
    text-align: center;
  }
  
  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-text {
    flex: 1;
    padding: 20px; 
    text-align: left; 
  }
  
  .about-text h2 {
    font-size: 36px;
    color: #1e1e1e;
    margin-bottom: 15px;
    border-bottom: 2px solid #0db5d9; 
    display: inline-block; 
  }
  
  .about-text p {
    font-size: 18px;
    color: #333;
    line-height: 1.6; 
  }
  
  .about-image {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
  .about-image img {
    max-width: 90%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
  }
  
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column; 
      text-align: center; 
    }
    
    .about-image {
      margin-top: 20px;
    }
  }
  
  
  
  .services {
    padding: 50px 0;
    background-color: #f8f9fa; 
    text-align: center;
  }
  
  .services h2 {
    font-size: 36px;
    color: #1e1e1e;
    margin-bottom: 15px;
    border-bottom: 2px solid #0db5d9; 
    display: inline-block; 
    
  }
  
  .services p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .service-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap:wrap;

    padding: 0 20px; 
  }
  
  .card {
    background-color: #ffffff; 
    padding: 20px;
    flex: 2; 
    min-width: 250px;
    max-width: 250px; 
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .card:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15); 
  }
  
  .card h3 {
    font-size: 22px;
    color: #0db5d9;
    margin-bottom: 10px; 
  }
  
  .card p {
    color: #333;
    margin-bottom: 20px;
    padding: 15px;
  }
  
  .btn-secondary {
    background-color: #1e1e1e;
    color: white;
    border: none;
    margin-top: 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  
  .btn-secondary:hover {
    background-color: #333;
    transform: translateY(-2px); 
  }

  .lineSeparation{

    color: #0db5d9 ;
    width: 80%;
    justify-content: space-between;
    
  }
  
  .contact {
    padding: 50px 0;
    background-color: #f9f9f9; 
    text-align: center;
  }
  
  .contact h2 {
    font-size: 36px;
    color: #1e1e1e;
    margin-bottom: 15px;
    border-bottom: 2px solid #0db5d9; 
    display: inline-block; 
  }
  
  .contact p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto; 
  }
  
  .contact input,
  .contact textarea {
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; 
    transition: border-color 0.3s ease; 
  }
  
  .contact input:focus,
  .contact textarea:focus {
    border-color: #0db5d9; 
    outline: none; 
  }
  
  .contact button {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto; 
    background-color: #0db5d9;
    color: white;
    border: none;
    padding: 12px 100px;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  
  .contact button:hover {
    background-color: #097b94; 
    transform: translateY(-2px); 
  }
  
  .contact-info {
    margin-top: 30px;
    color: #333;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  
 