<app-header></app-header>


<section class="hero">
  <div class="hero-content">
    <h1>Bienvenido a Deria</h1>
    <p>Un grupo de estudiantes de UCAM dedicado a la revisión y enriquecimiento de las leyes de la UE sobre inteligencia artificial.</p>
    <button class="btn-primary" routerLink="/sobreNosotros">Más Información</button>
  </div>
</section>

<app-home-services></app-home-services>
  
  <section class="about">
    <div class="container about-container">
      <div class="about-text">
        <h2>Sobre Nosotros</h2>
        <p>Deria está formado por un grupo apasionado de estudiantes de UCAM que buscan hacer un impacto positivo en el ámbito de la inteligencia artificial. Nuestro objetivo es proporcionar recursos, asesoría y colaboración para garantizar un entendimiento profundo y actualizado de las leyes de IA en la UE.</p>
      </div>
      <div class="about-image">
        <img src="assets/nosotros.jpg" alt="Grupo de Estudiantes de Deria" routerLink="equipo">
      </div>
    </div>
  </section>
  

  <section class="contact">
    <div class="container">
      <h2>Contacto</h2>
      <p>Si tienes alguna pregunta o deseas más información sobre nuestros servicios, no dudes en contactarnos.</p>
      <form>
        <input type="text" placeholder="Nombre" required>
        <input type="email" placeholder="Correo electrónico" required>
        <textarea placeholder="Mensaje" required></textarea>
        <button type="submit" class="btn-primary">Enviar consulta</button>
      </form>
      <div class="contact-info">
        <p>Teléfono: +123 456 789</p>
        <p>Email: deriaUCAM&#64;gmail.com</p>
        <p>Dirección: UCAM-Los Jerónimos - P05_S_01 </p>
      </div>
    </div>
  </section>
  

<app-footer></app-footer>
