<header class="header">
    <div class="container">
      <div class="logo">
        <img src="assets/deria_logo.png" alt="Deria Logo">
      </div>
      <nav class="nav">
        <ul>
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="nuestrosServicios">Servicios</a></li>
          <li><a routerLink="sobreNosotros">Acerca de</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <li><a routerLink="/contact">Contacto</a></li>
        </ul>
      </nav>
      <div class="cta">
        <button class="btn-primary">Solicita una consulta</button>
      </div>
    </div>
  </header>
  