<footer>
    <div class="footer">
        <div class="row">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-tiktok"></i></a>
        </div>

        <div class="row">
            <ul>
                <li><a href="#">Contanctanos</a></li>
                <li><a href="#">Nuestros Servicios</a></li>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                
            </ul>
        </div>

        <div class="row">
            DERIA Copyright © 2024 - Todos los derechos reservados || Diseñado por: Roger Orteu
        </div>
    </div>
</footer>