<app-header></app-header>
<section class="container">


    <div class="card">
        <img src="assets/1584616655270.jpg" alt="Foto perfil" class="profile-image">

        <h3 class="name">Maria Mendez Rocasolano</h3>
        <p class="role">BIG BOSS</p>

        <div class="contact">
            <a href="mailto:rorteub02@gmail.com" class="email"></a>
            <img class="icons" src="assets/instagram-brands-solid.png" alt="">
            <img class="icons" src="assets/envelope-regular.png" alt="">
        </div>

       
    </div>
   


</section>

   

<app-footer></app-footer>
