<section class="services">
    <div class="container">
      <h2>Nuestros Servicios</h2>
      <p>En Deria, ofrecemos una variedad de servicios diseñados para ayudar a estudiantes, investigadores y profesionales a comprender mejor la legislación de inteligencia artificial. Nuestros servicios incluyen:</p>
      <div class="service-cards">
        <div class="card">
          <h3>Nuestras Aportaciones</h3>
          <p>Revisamos y recopilamos información relevante sobre leyes de inteligencia artificial para asegurar que estés siempre actualizado.</p>
          <button class="btn-secondary">Saber más</button>
        </div>
        <div class="card">
          <h3>TikTok</h3>
          <p>Proporcionamos asesoramiento sobre cómo cumplir con las regulaciones de IA y te guiamos en el proceso de implementación.</p>
          <button class="btn-secondary">Saber más</button>
        </div>
        <div class="card">
          <h3>Instagram</h3>
          <p>Proporcionamos asesoramiento sobre cómo cumplir con las regulaciones de IA y te guiamos en el proceso de implementación.</p>
          <button class="btn-secondary">Saber más</button>
        </div>
        <div class="card">
          <h3>LikedIn</h3>
          <p>Proporcionamos asesoramiento sobre cómo cumplir con las regulaciones de IA y te guiamos en el proceso de implementación.</p>
          <button class="btn-secondary">Saber más</button>
        </div>
        <div class="card">
          <h3>Publicaciones y recursos</h3>
          <p>Ofrecemos publicaciones sobre el estado de las leyes de IA en dentro de la UE, accesibles y gratuïtos para todos los interesados en el tema.</p>
          <button class="btn-secondary">Saber más</button>
        </div>
        <div class="card">
          <h3>Colaboraciones académicas</h3>
          <p>Trabajamos con otras instituciones para promover el conocimiento sobre IA y la ley, fomentando un entorno de aprendizaje colaborativo.</p>
          <button class="btn-secondary">Saber más</button>
        </div>
      </div>
    </div>
  </section>